/*Fonty z G콢gelu*/
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Cherry+Bomb+One&family=PT+Serif+Caption:ital@0;1&display=swap');

*{
    padding: 0px;
    margin: 0px;
} 
body {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1; /*Kontent str치nky se roztahuje mezi footerem a headerem */
    background-color: #2D2A4A;
    color: #F4F5F8;
    width: 100%;
}
/*Profi nastaven칤 footeru*/
footer {
    position: sticky;
    width: 100%;
    bottom: 0;
    height: auto;
    background-color: #A51931;
    color: #F4F5F8;
    text-align: center;
    font-family: "Bebas Neue", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
}
/*Ne tak profi nastaven칤 headeru*/
header {
    background-color: #F4F5F8;
    color: white;
    text-align: left;
    
}
/* Odstran캩n칤 te캜ek z list콢 캜i jak se to jmenuje*/
ul li {
    list-style: none; 
}


/*SM캨REM DOL콡 NAST츼V츼 MOJE SCHIZOFRENICK칄 PSAN칈 CSS V N츼HODNEM PO콎AD칈 :<*/


/*Div kterej zarovn치va obr치zek na hlavn칤 str치nce na prost콏edek*/
.obr{
    display: flex;
    justify-content: center;
}

/*No tohle m치 bejt taky jen na obr치zek na prvn칤 str치nce akor치t se mi to nechce p콏ed캩l치vat*/
img{

    width: 90%;
    height: 75%;
}
/*Nen칤 to specifikovan칳 teda jo ale m치 to bejt jen na header*/
ul{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows:auto auto auto ;
} 
/*Nasteven칤 nadpisu v headeru*/
.nadpis{
    text-align: center;
    font-size: 32px;
    color: #F4F5F8;
    background-color: #A51931;
    padding: 10px;
    font-family: "Bebas Neue", serif;
    font-weight: 400;
    font-style: normal;
}

/*Nastaven칤  menu*/
header a{
    font-style: none;   
    color: #4a2a2a;
    text-decoration: none;
    font-family: "Cherry Bomb One", serif;
    font-size: 18px;
}
/*hodn캩 v캩c칤 co sd칤l칤 stejnou vlastnost v jednom :P*/
.highlights h2, nav, .highlights li {
    text-align: center;
}
.tradice p{
    text-align: center;
}
/*to stejn치 co koment치콏 nad t칤m*/
.highlights li, .kulturni-prvky li, .tradice p, .prehled p, .historicke-obdobi li{
    font-family: "Cherry Bomb One", serif;
    font-weight: 400;
}
.kulturni-prvky li, .tradice p{
    text-align: center;
    font-weight: 200;
}
/*Prvny v divu kulturniprvky jsou hezky pod sebou*/
.kulturni-prvky{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto; 
}
/*Aby byli kl칤캜ov칠 prvky kultury hezky pod sebou v mobile first*/
.kulturni-prvky ul{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto auto auto;   
     
}
/*Hodn캩 nadpis콢 co sd칤l칤 stejnou v캩c*/
.highlights h2, .tradice h2, .kulturni-prvky h2, .gallery h2, .prehled h2, .historicke-obdobi h2, .historie-galerie h2{
    font-family: "Bebas Neue", serif;
    font-weight: 400;
    font-size: 32px;
    padding-top: 15px;
    color: #d17b00;
    text-align: center;
}
/*Hezk칠 odsazen칤 v캩ci캜ek v menu*/
header li{
    margin-top: 5px;
    margin-bottom: 5px;
}
/*칔vod, Kultura atd kdy najedete jsou hezky 캜erven칳*/
header a:hover{
    color: #A51931;
}
/*Cel치 ta 캜치st nejen n치pis 칰vod atd ma custom barvi캜ku a je hezky zakulacen치*/
header li:hover{
    background-color: #b5b6b8;
    border-radius: 25px;
}
/*Ve footeru prvn칤 2 divy maj b칤lou barvu*/
footer div:nth-child(-n+2){
    background-color: #F4F5F8;
    color: #2D2A4A;
    padding: 10px;
}
/*V코echny dal코칤 prvky u maj tu barvu kter치 je nastaven치 ve footeru*/
footer div:nth-child(n+3){
    padding: 10px;
}

.highlights ul {
    list-style: none;
    padding: 0;
}

.highlights li {
    font-size: 1.1em;
    margin: 10px 0;
}

.obr{
    padding-top: 15px;
}
.highlights{
    padding-top: 25px;
}
.kulturni-prvky li {
   font-size: 16px;
   padding: 5px;
}

.gallery .obr {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
/*Nastaven칤 velikosti a ohrani캜en칤 obr치zku na str치nce Kultura*/
.gallery img {
    width: 300px;
    margin: 10px;
    border: #F4F5F8 solid 2.5px;
    border-radius: 10px ;
}

/*Str치nka Historie(Od te캞 n치dhern캩 se콏azen칠)游똂*/
.obrhis{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.historicke-obdobi ul{
    display: flex ;
    flex-direction: column;
    gap: 10px;
    text-align: center ;
}
.obrhis img{
    border: 2.5px #F4F5F8 solid ;
    border: 25px;
}
.obrhis img:nth-last-child(1){
    margin-bottom: 10px;
}
.prehled p{
    text-align: center;
}
/*Tabloid*/
@media (min-width: 480px) {
    header a{
        font-size: 24px;
    }
    .nadpis{
        font-size: 48px;
    }
    footer p{
        font-size: 24px;
    } 
    ul{
        display: grid;
        grid-template-columns: auto auto auto;
        grid-template-rows:auto auto auto ; 
    }
    .highlights h2, .tradice h2, .kulturni-prvky h2, .gallery h2{
        padding-bottom: 0px;
    }

    .skibidi{
        display: grid;
        grid-template-columns: auto ;
        grid-template-rows: auto auto; 
    }

    .highlights ul{
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: auto auto;
    }
    .obr{
        order: 3;
        height: 100%;
        width: 100%;
    }
    .obr img{
        height: 100%;
        width: 60%;
        border: #F4F5F8 solid 5Px;
        border-radius: 25px;
    }

}
/*Mobajlfoun megafoun telefoun*/
@media (min-width: 1024px) {
    ul{
        display: grid;
        grid-template-rows: auto;
        grid-template-columns: auto auto auto auto auto auto ;
    }
    footer{
        font-size: 24px;
        display: grid;
        grid-template-rows: auto auto;
        grid-template-columns: auto auto ;
    }
    .nadpis{
        font-size: 64px;
    }
    header a{
        font-size: 32px;
    }
    .highlights li{
        font-size: 24px;
    }
    .obr img{
        height: 400px;
        width: 500px;    
    }
    .obr{
        padding-bottom: 25px;
    }
    .highlights h2, .tradice h2, .kulturni-prvky h2, .gallery h2{
        font-size: 52px;
    }
    .highlights li, .kulturni-prvky li, .tradice p {
        font-size: 28px;
    }
    .gallery img{
        width: 500px;
        height: 400px;
    }
    /*Historie Kompj콢tr*/
    .his{
        display: grid;
        grid-template-columns: auto auto ;
        grid-template-rows: auto auto;
    }
    .historie-galerie{
        grid-column: 1/3;
    }
    .obrhis img{
        width: 500px;
        height: 400px;
    }
    .obrhis{
        display: grid;
        grid-template-columns: auto auto ;
        grid-template-rows: auto auto ;
        justify-content: center;
    }
    .historie-galerie h2{
        margin-bottom: 10px;
    }
    .prehled p{
        padding-left: 25px;
        padding-right: 25px;
    }
    .historicke-obdobi li{
        text-align: left;
    }

}
